a{
	color: #fff8de;
    text-decoration: underline;
}

body {
	font-family: 'Lato', sans-serif; 
	font-size: 1em;
	font-weight: 700; 
}

h1 {
	color: #f1f1f1;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
    width: auto;
    max-width: 700px;
    position: absolute;
    left: 20%;
    top: 40%;
    text-align: left;	
}

h2 {
	color: #f1f1f1;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
    width: auto;
    max-width: 600px;
    position: absolute;
    left: 20%;
    top: 40%;
    text-align: left;
}

h3{
	color: #f1f1f1;
    padding: 10px 5px;
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 12px;
    width: auto;
    max-width: 600px;
    position: absolute;
    left: 20%;
    top: 20%;
    text-align: left;
}

.slide-1{
	position: relative;
	background: url('img/bcg_slide-1.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
	min-width: 640px;

}

.slide-2{
	position: relative;
	background: url('img/bcg_slide-2.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-3{
	position: relative;
	background: url('img/bcg_slide-3.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-4{
	position: relative;
	background: url('img/bcg_slide-4.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-5{
	position: relative;
	background: url('img/bcg_slide-5.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-6{
	position: relative;
	background: url('img/bcg_slide-6.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-7{
	position: relative;
	background: url('img/bcg_slide-7.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-8{
	position: relative;
	background: url('img/bcg_slide-8.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

.slide-9{
	position: relative;
	background: url('img/bcg_slide-9.jpg') no-repeat fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 800px;
}

